/* *** TODO: *** */
/* Base everything on vw instead of vh */
/*   Can we assume that the screen is ~1.6 times wider than high? */
/*   If so, does that mean that we can take vh values and divide by 1.6? */

/* Basic display */
:root {
  --tile-width: 13.6vh;
  --tile-space: 14.4vh;
}

@font-face {
  font-family: 'katahdin';
  src: url('fonts/katahdin-round.regular.otf');
}

body {
    font-family: katahdin, sans-serif;
    margin:0;
    box-sizing:border-box;
}

div {
	user-select: none;
}

/* Global styles */
.hidden {
    display:none; !important
}

.self {
    background-color: black;
    color: white;
}

.opponent {
    background-color: white;
    color: black;
}

/* Layout */

#widthcontainer {
    width: 155vh;
    margin: 0 auto;
}

#header {
    margin: 0 auto;
    width:155vh;
    height: 10vh;
    text-align:center;
    font-size:7vh;
    line-height:10vh;
}

div#header img {
    width: 7vh;
    transform: translateY(0.75vh);
}

#layout {
    display:none;
    width: 100%;
    height: 60vh;
}

#layout.active {
    display:flex;
}

div.sidearea {
    width: 25vh;
    height: 100%;
}

/* There is a buffer between the left column and the game
   area, where the Dealer indicator fits */
.leftbuffer {
    min-width:5vh;
    max-width:5vh;
    height:100%;
}

/* Some adjustments to account for scrolling */
div#rightcolumn {
    position:relative;
    max-height: 100%;
    overflow-y: scroll;
    padding-right: 1.5vh;
}

div#rightcolumn::-webkit-scrollbar {
    width: 1vh;
}

div#rightcolumn::-webkit-scrollbar-track {
    background: white;
}

div#rightcolumn::-webkit-scrollbar-thumb {
    background:black;
    border-radius:.5vh;
}

.gamearea {
    position:relative;
    width:100vh;
    height:100%;
    min-width:100vh;
}

/* Tiles */

div.suit_tent div.tilefront {
    background-image: url('images/tent.svg');
}
div.suit_mug div.tilefront {
    background-image: url('images/mug.svg');
}
div.suit_campfire div.tilefront {
    background-image: url('images/campfire.svg');
}
div.suit_sleepingbag div.tilefront {
    background-image: url('images/sleepingbag.svg');
}

/* The inline_tile class is used for displaying the bingo in the score display */
div.inline_tile {
    width: 5.2vh;
    height: 100%;
    background-position: right 50%;
    background-size: 40%;
    background-repeat: no-repeat;
    float:right;
}

div.inline_tile div {
    width: 55%;
    text-align: right;
}

div.inline_tile.suit_tent {
    background-image: url('images/tent.svg');
}

div.inline_tile.suit_mug {
    background-image: url('images/mug.svg');
}

div.inline_tile.suit_campfire {
    background-image: url('images/campfire.svg');
}

div.inline_tile.suit_sleepingbag {
    background-image: url('images/sleepingbag.svg');
}

/* *** TODO *** */
/*
  There are three tile sizes:
  * Full size for the game play
  * Small for the scoring summary
  * Tiny for inline display, etc.
  How best to represent these in CSS?
  It's convenient for the full and small sizes to share a bunch of
  structure in the HTML and CSS. The mini tiles are pretty different
*/

/* Basic tile size and position */
div.tileposition {
    perspective: 1000px;
    border:0;
    display:flex;
    justify-content:center; 
    align-items:center;
}

div.gamearea div.tileposition {
    width:var(--tile-width);
    height:18vh;
    position:absolute;
    transition: left 0.5s ease,top 0.5s ease;
}

/* The tilesides div handles the general display of the tile
   This includes which side is showing and minor adjustments
   to the position for the pegging tray.
*/
div.tilesides {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
	transform: rotateY(0deg);
	/* Transitions: 
	   transform handles the flip
	   top keeps the tile from jumping up immediately when pegging.
	*/
    transition: transform 0.5s, top 0.5s ease;
    transform-style:preserve-3d;
    background-color:transparent;
    box-sizing:border-box;
    border:0.4vh solid black;
    border-radius:1.4vh;
    background-color:white;
}

div.tilefront {
    transform: rotateY(0deg);
    background-size:85%;
    background-position: 50% 65%;
}

div.tileback {
    transform: rotateY(-180deg);
    z-index:5;
    border-color:#999999;
    background: url('images/mountains_2.svg');    
    background-size:75%;
    background-position:50%;
}

div.tile {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:1;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

div.value {
    position:absolute;
    right:4%;
    top:2%;
}

/* Tiles drawn outside of the game area aren't big enough to use the
   outline display for the tile value */
div.gamearea div.value {
    color: transparent;
	font-size: 3.7vh;
	-webkit-text-stroke-width: .35vh;
    -webkit-text-stroke-color: black;
}

/* ***** Position tiles vertically ***** */
.row_self {
    top:0;
}

.row_opponent {
    top:70%;
}

.row_middle {
    top:35%;
}

/* TODO: Is it true that anytime a tile is face up in
         the middle row that it gets this top offset?
         If so, can we simplify this and .tray_pegged? */
.tray_cribreveal .player_self {
	top:-8%;
}

.tray_cribreveal .player_opponent {
	top:8%;
}

/* ***** z-index for tiles. ***** */
/* Mostly needed for the pegging tray and the deck, where
   tiles overlap or are stacked on top of one another */
div.tileposition.tileidx_0 {
    z-index: 1;
}
div.tileposition.tileidx_1 {
    z-index: 2;
}
div.tileposition.tileidx_2 {
    z-index: 3;
}
div.tileposition.tileidx_3 {
    z-index: 4;
}
div.tileposition.tileidx_4 {
    z-index: 5;
}
div.tileposition.tileidx_5 {
    z-index: 6;
}
div.tileposition.tileidx_6 {
    z-index: 7;
}
div.tileposition.tileidx_7 {
    z-index: 8;
}
div.tileposition.tileidx_8 {
    z-index: 9;
}
div.tileposition.tileidx_9 {
    z-index: 10;
}
div.tileposition.tileidx_10 {
    z-index: 11;
}
div.tileposition.tileidx_11 {
    z-index: 12;
}
div.tileposition.tileidx_12 {
    z-index: 13;
}

/* ***** Horizontal positioning of tiles ***** */

/* ***** Tiles in a tray on the left side (6 tiles max) ***** */
.side_left.tileidx_0 {
    left:0;
}

.side_left.tileidx_1 {
    left:var(--tile-space);
}

.side_left.tileidx_2 {
    left:calc(2 * var(--tile-space));
}

.side_left.tileidx_3 {
    left:calc(3 * var(--tile-space));
}

.side_left.tileidx_4 {
    left:calc(4 * var(--tile-space));
}

.side_left.tileidx_5 {
    left:calc(5 * var(--tile-space));
}

/* ***** But the left side of the middle row is a little different ***** */

/* ***** The deck is to the left and all the tiles are in the same spot ***** */
.tray_deck {
    left: 0;
}

.tray_deck > .tilesides {
	transform: rotateY(-180deg);
}

.deckbackground {
    box-shadow: -0.5vh 0.5vh;
	transform: rotateY(-180deg);
}

/* ***** Opponent tiles stay flipped until they are pegged. ***** */
.tray_unplayed > .tilesides.player_opponent {
	transform: rotateY(-180deg);
}

/* ***** In the crib the tiles overlay and are to the right of the deck ***** */
.tray_crib > .tilesides {
	transform: rotateY(-180deg);
}

.tray_crib.tileidx_0 {
    left:var(--tile-space);
}

.tray_crib.tileidx_1 {
    left:calc(1.1 * var(--tile-space));
}

.tray_crib.tileidx_2 {
    left:calc(1.2 * var(--tile-space));
}

.tray_crib.tileidx_3 {
    left:calc(1.3 * var(--tile-space));
}

/* ***** Tiles in a tray on the right side (4 tiles max) ***** */
/*       Note that we always modify the left CSS property      */
/*       so that our animations work correctly                 */
.side_right.tileidx_0 {
    left:calc(100% - var(--tile-width));
}

.side_right.tileidx_1 {
    left:calc(100% - var(--tile-width) - var(--tile-space));
}

.side_right.tileidx_2 {
    left:calc(100% - var(--tile-width) - 2 * var(--tile-space));
}

.side_right.tileidx_3 {
    left:calc(100% - var(--tile-width) - 3 * var(--tile-space));
}


/* ***** The tray containing the pegged tiles is special ***** */
.tray_pegged.tileidx_0 {
    left:calc(100% - var(--tile-width));
}

.tray_pegged.tileidx_1 {
    left:calc(100% - var(--tile-width) - 0.5 * var(--tile-space));
}

.tray_pegged.tileidx_2 {
    left:calc(100% - var(--tile-width) - var(--tile-space));
}

.tray_pegged.tileidx_3 {
    left:calc(100% - var(--tile-width) - 1.5 * var(--tile-space));
}

.tray_pegged.tileidx_4 {
    left:calc(100% - var(--tile-width) - 2 * var(--tile-space));
}

.tray_pegged.tileidx_5 {
    left:calc(100% - var(--tile-width) - 2.5 * var(--tile-space));
}

.tray_pegged.tileidx_6 {
    left:calc(100% - var(--tile-width) - 3 * var(--tile-space));
}

.tray_pegged.tileidx_7 {
    left:calc(100% - var(--tile-width) - 3.5 * var(--tile-space));
}

/* **** Up and down offsets while pegging **** */
.tray_pegged .player_self {
    top:-8%;
}

.tray_pegged .player_opponent {
    top:8%;
}

/* ***** Pegging Count ***** */
div#pegcount {
    display:none;
    font-size: 2.8vh;
}

div#pegcount.go {
    -webkit-text-stroke-width: .2vh;
    -webkit-text-stroke-color: black;
    color: white;
}

div.tileposition div#pegcount {
    display: block;
    position:absolute;
    left:1vh;
}

div.tileposition[data-player="self"] div#pegcount {
    top:92%;
}

div.tileposition[data-player="opponent"] div#pegcount {
    bottom:92%;
}

/* ***** The deck is also special ***** */
.tray_deck.tileposition {
	left: 0;
}

/* ***** Bring tiles to the front when they're moving. ***** */
div.tileposition.moving.tileidx_0 {
	z-index: 21;
}
div.tileposition.moving.tileidx_1 {
	z-index: 22;
}
div.tileposition.moving.tileidx_2 {
	z-index: 23;
}
div.tileposition.moving.tileidx_3 {
	z-index: 24;
}
div.tileposition.moving.tileidx_4 {
	z-index: 25;
}
div.tileposition.moving.tileidx_5 {
	z-index: 26;
}
div.tileposition.moving.tileidx_6 {
	z-index: 27;
}
div.tileposition.moving.tileidx_7 {
	z-index: 28;
}
div.tileposition.moving.tileidx_8 {
	z-index: 29;
}
div.tileposition.moving.tileidx_9 {
	z-index: 30;
}
div.tileposition.moving.tileidx_10 {
	z-index: 31;
}
div.tileposition.moving.tileidx_11 {
	z-index: 32;
}
div.tileposition.moving.tileidx_12 {
	z-index: 33;
}

/* ***** Random other effects and whatnot ***** */
.nope {
    animation:shake 0.6s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
   30% { transform: rotate(-3deg); }
   70% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

img#arrow {
    width:75%
}

/* Annoying */
div.tileposition.hidden {
    display:none;
}

/* ***** Other page elements ***** */

/* *** Scoring on the left side *** */
div.scoreboard {
    width: 18vh;
    text-align: center;
    margin-bottom: 2vh;
    margin-left: 0;
}

div.total_score {
    font-size: 6.5vh;
    margin-top: 1.3vh;
}

/* *** Scoring on the right side *** */
div#history {
    width:100%;
    interpolate-size: allow-keywords;
}

div.pastscores {
    max-height: 1000px;
    transition: height 0.5s ease;
    overflow-y: hidden;
    height:auto;
}

div#history.collapsed div.pastscores {
    height: 0px;
}

.rounded {
    border: 0.3vh solid black;
    border-radius: 0.8vh;
    box-sizing: border-box;
}

button {
    font-family: 'katahdin';
    color: #aaaaaa;
    background-color:white;
}

button:enabled {
    color: black;
}

button:hover:enabled {
    color: white;
    background-color: black;
}

button.dealbutton {
    font-size: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

div.scoreitem {
    margin-right: 0;
    margin-left: auto;
    width: 15vh;
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 0.3vh;
    padding: 0.2vh 1vh 0.2vh 1vh;
}

div.scoreitem div {
    display:inline-block;
    text-align: center;
}

div.scoreitem div.itempoints {
    width: 30%;
}

div.scoreitem div.scoretype {
    width: 55%;
}

div.scorecheck {
    display: flex;
    width: 18vh;
    margin-bottom: 0.3vh;
    margin-right: 0;
    margin-left: auto;
}

span.scorecheckitem {
    border: 0;
    box-sizing: border-box;
    font-size: 2.5vh;
    flex-grow: 1;
    flex-basis: 0;
    display: inline-block;
    height: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

span.scorecheckitem.self {
    border-radius: 0.6vh 0 0 0.6vh;
}

span.scorecheckitem.opponent {
    border-radius: 0 0.6vh 0.6vh 0;
}

div.scoreparts {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 1vh;
}

div.scoreparts div {
    flex: 0 25%;
}

div.scorelabel {
     font-size: 2.5vh;
}

div.scorevalue {
    text-align: right;
    font-size: 2.5vh;
}

/* ***** Dealer indicator ***** */
div#dealerlabel {
    position:relative;
    text-align: center;
    width: 4vh;
    height: 30%;
    transform-style:preserve-3d;
    transition: transform 0.5s, top 0.5s;
    display:none;
}

div#dealerlabel.row_self {
    transform: rotateY(0deg);
    display: block;
}

div#dealerlabel.row_opponent {
    transform: rotateY(180deg);
    display:block;
}

div#dealerlabel div {
    opacity: 1;
    position:absolute;
    box-sizing:border-box;
    border:0.4vh solid black;
    border-radius:1vh;
    font-size: 2.5vh;
    line-height: 3.5vh;
    height:100%;
    width:100%;
    backface-visibility: hidden;
}

div#dealer_self {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    color: white;
    background-color:black;
}

div#dealer_opponent {
    writing-mode: vertical-rl;
    color: black;
    background-color:white;
    transform: rotateX(-180deg);
}

/* ********** Join form ********** */
div#join {
    width: 60%;
    border: 0.4vh solid black;
    border-radius: 1.4vh;
    text-align: center;
    font-size: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

div#join_header {
    margin-bottom:4vh;
}

div#join input {
    font-family: 'katahdin';
    font-size: 5vh;
}

#player_name {
    width: 35vh;
    text-align: center;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:4vh;
    height:4vh;
    background:white;
    border-radius:5px;
    border:2px solid black;
    position:relative;
    bottom: -0.5vh;
}
input[type='checkbox']:checked {
    background: black;
}

/* ***** Scoring track at top ***** */
div#scoreboardarea {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    height: 15vh;
    width: 150vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

#scoreboard {
    width: 127vh;
}

#track {
  position:relative;
  left:0px;
  height:1px;
  z-index:-1;
  font-size:2vh;
}

.score {
    position: relative;
    display: block;
    color: white;
    height: 47%;
    left: 0px;
}

.pegarea {
    transition: left 1.5s ease-in-out;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#scoreboard_self {
    position: relative;
    height: 100%;
    margin-left: -5vh;
    left: 0;
    color: white;
    width: 10vh;
    text-align: center;
    line-height: 4vh;
}

#scoreboard_opponent {
  position:relative;
  color:black;
  background-color: white;
  margin-left:-5vh;
  left:0;
  color:white;
  width:10vh;
  text-align:center;
  line-height:4vh;  
}

#scoreboard_self .total {
  bottom:0.9vh;
  background-color: black;
}

#scoreboard_opponent .total {
    top:0.9vh;
    color: black;
    background-color:white;
}


.total {
    position: absolute;
    font-size: 3.5vh;
    line-height: 4vh;
    height: 5vh;
    width: 100%;
    margin-left: -5vh;
    display: inline-block;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0.8vh;
    border: 0.5vh solid black;
    box-sizing: border-box;
}

.scoreboard_top {
    transition: left 1.5s ease-in-out;
    position: absolute;
    bottom: 0;
}

.triangle {
  transition: left 1.5s ease-in-out;
  position:absolute;
  bottom:0;
  width: 0; 
  height: 0; 
  border-left: 1vh solid transparent;
  border-right: 1vh solid transparent;
  margin-left:-1vh;
}

.innertriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  left: -0.75vh;
  border-bottom: 0.75vh solid white;
  border-top: 0.25vh solid transparent;
  top: 0.5vh;
}

#playertriangle {
  position:absolute;
  border-top: 1vh solid black;
  bottom:0;
}

#opponenttriangle {
  border-bottom: 1vh solid black;
  top:0;
}


#centerline {
  position:absolute;
  width:100%;
  top:0;
  border-top:1px solid #666666;
}

.cornerline {
  position:absolute;
  border-left:1px solid #666666;
  width:1px;
  height:3vh;
  top:-1.25vh;
  color:#666666;
}

.skunkline {
  position:absolute;
  border:0px;
  top:-1.5vh;
  color:black;
  left:75%;
  text-align:center;
  margin-left:-10px;
  width:20px;
  font-size:3vh;
}

div.scorenumbers {
    margin-left:6%;
    margin-right:10%;
    flex-grow:1;
    flex-basis:0;
    display:none;
    align-items:center;
}

div.scorenumbers.activenumbers {
    display:flex;
}

button#scorebutton {
    font-size:2.5vh;
    height: 5vh;
    width: 15vh;
    margin-right: 2.5vh;
}

/* ***** Scoring summary ***** */

/* TODO: Position this near the element that
         was hovered over */
div#score_summary {
    position: absolute;
    top: 0;
    right: -4vh;
    width: auto;
    background-color: white;
    border: 0.5vh solid black;
    padding: 2vh;
    z-index: 100;
    display:none;
}

div#score_summary.showing {
    display:block;
}

div#scoring_stats {
    position: absolute;
    top: 0;
    left: -9vh;
    background-color: white;
    border: 0.5vh solid black;
    padding: 3vh;
    z-index: 100;
    display:none;
}

div#scoring_stats.showing {
    display:block;
}

div.stat_header {
    font-size:3.2vh;
    margin-top:1.5vh;
    border-bottom: 0.5vh solid black;
    margin-bottom: 0.5vh;
}

div.stat_header:first-child {
    margin-top: 0;
}

div.stat_label {
    display: inline-block;
    width: 17vh;
    font-size: 2.3vh;
    padding-left: 1.5vh;
}

div.stat_row {
    display: inline-flex;
    width: 22vh;
    margin-bottom: 0.3vh;
    margin-right: 0;
    margin-left: auto;
    font-size: 2.3vh;
}

div.stat_item {
    border: 0;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    display: inline-block;
    height: 100%;
    width: 12vh;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.stat_item.self {
    border-radius: 0.6vh 0 0 0.6vh;
}

div.stat_item.opponent {
    border-radius: 0 0.6vh 0.6vh 0;
}

div#overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    display:none;
}

div#overlay.showoverlay {
    display:block;
}

div#blur {
    position:absolute;
    background-color:white;
    opacity: 70%;
    z-index:99;
    width: 105vh;
    height: 100%;
    right:0;
}

div.summarytiles {
    position: relative;
    height: 18vh;
    display:flex;
}

div.summarytiles div.tileposition.turn {
    margin-left: 2.4vh;
}

div.summarytiles div.tileposition.turn::after {
    content:'Turn';
    position: absolute;
    top: 100%;
    font-size: 2vh;
    margin-top: 0.2vh;
}

div.summarytiles div.tileposition.turn.bingo::after {
    content:'Bingo!';
    color: white;
    background-color: black;
    padding: 0vh 0.6vh 0vh 0.6vh;
    border-radius: 0.5vh;
}

/* These tiles are about 3/4 the size of the 
   tiles in the play area */
div.summarytiles div.tileposition {
    position: relative;
    margin-right: 0.8vh;
    width: 10.2vh;
    height: 13.5vh;
}

div.summarytiles div.value {
    font-size: 2.8vh;
    color: black;
	-webkit-text-stroke-width: 0;
}

table.scoresummary {
    border-collapse: collapse;
    border: 1px solid black;
    min-width: 50vh;
    margin-left: auto;
    margin-right: auto;
}

table.scoresummary th {
    background-color: black;
    color: white;
    font-size: 3vh;
}

table.scoresummary tr {
    border-bottom: 0.2vh solid black;
}

table.scoresummary .summary_name {
    width: 80%;
    text-align: left;
}

table.scoresummary .summary_points {
    width: 20%;
    text-align:right;
}

table.scoresummary td,th {
    padding-left: 0.5vh;
    padding-right: 0.5vh;
}

table.scoresummary td {
    font-size:2.3vh;
}

table#outs {
    margin-top:2vh;
}

table.stats_table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 38vh;
    margin-top:2vh;
}

table.stats_table:first-child {
    margin-top:0;
}

table.stats_table tr {
    border-bottom: 0.2vh solid black;
}

table.stats_table th {
    background-color: black;
    color: white;
    font-size: 3vh;
    text-align: left;
}

table.stats_table td {
    font-size: 2.3vh;
    text-align: right;
    padding-left: 3vh;
    white-space: nowrap;
}

table.stats_table td.stats_label {
    text-align: left;
    padding-left: 0;
}

td.stat_cell:hover {
    background-color: black;
    color: white;
}