/* ***** Tile ***** */
div.content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

div.value {
    color: transparent;
	font-size: 3.7vh;
	-webkit-text-stroke-width: .35vh;
    -webkit-text-stroke-color: black;
    position:absolute;
    right:4%;
    top:2%;
}

div.tent {
    background: url('/static/images/tent.svg');
}
div.mug {
    background: url('/static/images/mug.svg');
}
div.campfire {
    background: url('/static/images/campfire.svg');
}
div.sleepingbag {
    background: url('/static/images/sleepingbag.svg');
}

div#deck {
    top:35%;
    left:0;
    z-index:-10;
}

div#deck div.tilesides {
    box-shadow: 0.5vh 0.5vh;
}    

div.tilecontainer {
    perspective: 1000px;
    position:absolute;
    width:13.6%;
    height:30%;
    border:0;
    transition: left 0.5s ease,top 0.5s ease;
    top:35%;
    left:0;
}

div.tilesides {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition: transform 0.5s;
    transform-style:preserve-3d;
    background-color:transparent;
    box-sizing:border-box;
    border:0.4vh solid black;
    border-radius:1.4vh;
    background-color:white;
}

div.tilefront {
    transform: rotateY(0deg);
/*    z-index:10; */
    background-size:85%;
    background-position: 50% 65%;
}

div.tileback {
    transform: rotateY(-180deg);
    z-index:5;
    border-color:#999999;
    background: url('/static/images/mountains_2.svg');    
    background-size:75%;
    background-position:50%;
}

div.tile {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:1;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

div.tilecontainer.flip div.tilesides {
    transform: rotateY(-180deg);
}

/* front pane, placed above back */
div.front {
	z-index: 10;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
div.back {
	transform: rotateY(180deg);
}

div#cribarrow {
    position:absolute;
    /* 100 - 2*column - tile width = 100-28-13 = 59*/
    left:57.6%;
    top:35.71%;
    opacity:1;
    transition: opacity 0s linear;
    transition-delay:0.5s;
}

div#cribarrow.hidden {
    display:block;
    opacity:0;
    transition: opacity 0s linear;
    transition-delay:0s;
}

img#arrow {
    position:absolute;
    max-height:70%;
    max-width:70%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
}

div#message {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

div#message.ackbar {
    background: url('/static/images/death-star.svg');    
    background-size:50%;
    background-position:50% 70%;
    background-repeat: no-repeat;
    text-align:center;
    font-size:4.5vh;
    padding-top:1.5vh;
}

div.messagebox {
    position:absolute;
    left:25%;
    right:25%;
    top:22%;
    bottom:22%;
    z-index:20;
    background-color:white;
    border: 0.4vh solid black;
    border-radius: 1.4vh;
    display:none;      
}

div#playerInfo {
    left:-5vh;
    top:0;
    bottom:0;
    right:0;
    font-size:6vh;
    padding:5vh;
    
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.playerInfoSelect {
    font-family: katahdin, sans-serif;
    font-size: 6vh;
    border:0;
    outline:none;
}

.playerInfoSelect:focus {
    border:0;
    outline:none;
}

div#winnerheader {
    font-size:4vh;
    width:100%;
    text-align:center;
    margin-top:1vh;
}

table#cribsheettable {
    margin: auto;    
    margin-top:2vh;
}

table#cribsheettable.highlight {
    background-color:black;
}

tr#cribsheetdata {
    user-select:all;
}

tr#cribsheetdata td {
    padding-left:0.3vh;
    padding-right:0.3vh;
    text-align:center;
}

tr#cribsheetdata td::selection {
    background:white;
    color:black;
}

table#cribsheettable.highlight td {
    background-color:black;
    color:white;
}

table#cribsheettable.highlight td::selection {
    background:black;
    color:white;
}

div#winnerbuttons {
    position:absolute;
    bottom:0.6vh;
    right:0.6vh;
}

div.winnerbutton {
    border: 1px solid black;
    border-radius: 0.6vh;
    box-sizing: border-box;
    margin-bottom: 0.3vh;
    font-size: 2.5vh;
    width: 14vh;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align:center;
    display:inline-block;
    margin-left:0.1vh;
}

div.winnerbutton:hover {
    color:white;
    background-color:black;
}

.rejected {
    animation:shake 1s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
   30% { transform: rotate(-5deg); }
   70% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.chaos {
    animation: chaos 1s;
    animation-timing-function: ease-in-out;
}

@keyframes chaos {
    0% { transform: skew(0deg, 0deg); scale(1); }
   10% { transform: skew(10deg, 10deg) scale(0.85); }
   20% { transform: skew(-5deg, 25deg) scale(0.85); }
   30% { transform: skew(10deg, 15deg) scale(0.85); }
   40% { transform: skew(15deg, 25deg) scale(0.85); }
   50% { transform: skew(-5deg, 5deg) scale(0.85); }
   60% { transform: skew(10deg, -5deg) scale(0.85); }
   70% { transform: skew(10deg, 20deg) scale(0.85); }
   80% { transform: skew(-5deg, 5deg) scale(0.85); }
  100% { transform: skew(0deg, 0deg) scale(1); }
}

div.label {
    position:absolute;
    text-align:center;
    height: 4vh;
    font-size: 3vh;
    line-height: 3.5vh;    
    /* Tiles take up 30% of the height of the playing area,
       which is 60vh high */
    width: 18vh;
}

div#dealersides {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    background-color:transparent;
    transition: transform 0.5s ease;
}

div.labelside {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:1;
    backface-visibility: hidden;
    box-sizing:border-box;
    border:0.4vh solid black;
    border-radius: .9vh;
}

div#playerdealer {
    transform: rotateX(0);
    background-color: black;
    color:white;
    z-index:2;
}

div#opponentdealer {
    transform: rotateX(180deg);
    background-color:white;
    color:black;
}

div.leftlabel {
    transform: rotate(-90deg);
    transform-origin: bottom left;
    left: -0.5vh;
    transition: bottom 1s ease;
}

div.playerDeal {
    bottom:70%;
}

div.opponentDeal {
    bottom:0;
}

div.opponentDeal div#dealersides {
    transform:rotateX(180deg);
}

div.hidden {
    display:none;
}

div#currenthand {
    width:100%;
}


div.pasthand {
    width:100%;
    overflow-y:hidden;
    max-height:1000px;
    transition: max-height 0.5s ease;
}

div#history.collapsed > div.pasthand {
    max-height:0;
}

div.historyHandSummary {
    width:100%;
    display:flex;
}

span.handSummarySide {
    border:1px solid black;
    border-radius: 0.6vh;
    box-sizing:border-box;
    margin-bottom:0.3vh;
    font-size:2.5vh;    
    flex-grow:1;
    flex-basis:0;
    display:inline-block;
    height:100%;
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
}

span.playerHandSummary {
    background-color:black;
    color:white;
    border-radius: 0.6vh 0 0 0.6vh;
}

span.opponentHandSummary {
    background-color:white;
    color:black;
    border-radius: 0 0.6vh 0.6vh 0;
}

div.historyItem {
    border:1px solid black;
    border-radius: 0.6vh;
    box-sizing:border-box;
    margin-bottom:0.3vh;
    font-size:2.5vh;    
    width:14vh;
    margin-left:2vh;
    padding-top:2px;
    padding-bottom:2px;
}

div.historyItem.historyplayer {
    background-color:black;
    color:white;
}

div.historyItem > span {
    display:inline-block;
    text-align:center;
    box-sizing:border-box;
}

div.historyItem.miscount::before {
    position:absolute;
    content : '!';
    left:2px;
    color:black;
}

span.historyScore {
    width:30%;
}

span.historyType {
    width:60%;
}

div#footer {
    color:black;
    box-sizing:border-box;
}

#cribsheetlink {
    background-image: url(/static/images/spreadsheet.png);
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 5vh;
    bottom: 0;
    display: inline-block;
}

#cribsheetlink:hover {
    background-image: url('/static/images/spreadsheet_hover.png');
}

.leftContainer {
    display:block;
    border:0.5vh solid black;
    border-radius:1.5vh;
    padding:0.5vh 1vh 0.5vh 1vh;
    margin-bottom:1vh;
}

.centerVertical {
    height:100%;
    display:flex;
    align-items: center;
}

.noborder {
    border:0;
}

span#gameTime {
    text-align:center;
    font-size:3vh;
    margin-top:3vh;
}

span.timeDigit {
    text-align:center;
    width:2.3vh;
    border:0;
    margin:0;
    display:inline-block;
}

div.totalSummary {
    font-size:6vh;
    text-align:center;
    width:100%;
}

div.playerSummary {
    background-color:black;
    color:white;
}

div.outs {
    margin-top:2vh;
}

span.subscore {
    float:right;
}

div.name {
    text-align:center;
    font-size:3vh;
}

div#pegCounter {
    font-size:6vh;
    color:black;
    text-align:center;
    width:6.8%;
    position:absolute;
    height:5%;
    font-size: 3.7vh
}

div#pegCounter.go {
    color:white;
	-webkit-text-stroke-width: .35vh;
    -webkit-text-stroke-color: black;
}

