/* ***** Main Layout ***** */
@font-face {
  font-family: 'katahdin';
  src: url('/static/fonts/katahdin-round.regular.otf');
}

html,body {
    height:100%;
    width:100%;
}

body {
    font-family: katahdin, sans-serif;
    margin:0;
    box-sizing:border-box;
}

div {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#outer {
    position:relative;
    width: 144vh;
    height: 100vh;
    margin:auto;
    top:0;
}

/* ***** Header ***** */
div#header {
    position:absolute;
    width:100%;
    height:10vh;
    top:0;
    color:black;
    text-align:center;
    font-size:7vh;
    line-height:10vh;
}

div#header img {
    width:7vh;
    transform:translateY(0.75vh);
}

/* ***** Side Areas ***** */
div.sideposition {
    position:absolute;
    height:90vh;
    top:10vh;
}

div.sidearea {
    width:16vh;
    font-size:2.5vh;
}

div.leftarea {
    left:0;
    height:80vh;
    margin-top:1vh;
}

div#historyscroll {
    position:absolute;
    width:17.5vh;
    height:89vh;
    margin-top:1vh;
    right:-1.5vh;
}

div.rightscroll {
    overflow-y:auto;
}

div.rightscroll::-webkit-scrollbar {
    width: 1vh;
}

div.rightscroll::-webkit-scrollbar-track {
    background: white;
}

div.rightscroll::-webkit-scrollbar-thumb {
    background:black;
    border-radius:.5vh;
}

div.rightarea {
    position:relative;
}

/* ***** Main Screen Area ***** */
div#main {
    position:absolute;
    width:100vh;
    height:90vh;
    left:22vh;
    top:10vh;
}

/* **** Main Area Sections ***** */
div#scorebuttons {
    position:relative;
    height:6vh;
    width:100%;
}

div#scoremessage {
    display:inline-block;
    width:100%;
}

div#scoreboardarea {
    position: relative;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

div#scoremessage span {
    display:inline-block;
}

div#scoremessage span a {
    padding:0.3vh 0.9vh 0.3vh 0.9vh;
}

div#scoremessage span a:hover {
    background-color: black;
    color: white;
    border-radius: 0.75vh;
}

div.gamearea {
    position:absolute;
    top:16vh;
    height:60vh;
    width:100%;
}

div#messages {
    position:absolute;
    height:7.5vh;
    bottom:5vh;
    width:100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;    
}

div.messagerow {
    display:block;
    margin-left:1vh;
    margin-right:1vh;
}

div.message {
    display:inline-block;
    border:1px solid black;
    border-radius: 0.6vh;
    box-sizing:border-box;
    margin-bottom:0.3vh;
    font-size:2vh;    
    padding-top:0.3vh;
    padding-bottom:0.3vh;
    padding-left:0.8vh;
    padding-right:0.8vh;
    width:auto;
}

input#messageinput {
    font-family: katahdin, sans-serif;
    font-size:2vh;
    width:50%;
}

div.message.playerMessage {
    float:right;
    color:white;
    background-color:black;
}

div#footer {
    position:absolute;
    height:4.5vh;
    font-size:2vh;
    bottom:0;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}


