.playerbg {
  background-color:black;
}

.opponentbg {
  background-color:white;
}

#scoreboard {
    position:absolute;
    top:0px;
    bottom:0px;
    left:5vh;
    right:5vh;
}

.score {
  position:relative;
  display:block;
  color: white;
  height:47%;
  left:0px;
}

.scoreboard {
    transition: left 1.5s ease-in-out;
    position: absolute;
    bottom:0;
}

.pegarea {
    transition: left 1.5s ease-in-out;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#playerscoreboard {
  position:relative;
  height:100%;
  margin-left:-5vh;
  left:0;
  color:white;
  width:10vh;
  text-align:center;
  line-height:4vh;  
}

#opponentscoreboard {
  position:relative;
  color:black;
  background-color: white;
  margin-left:-5vh;
  left:0;
  color:white;
  width:10vh;
  text-align:center;
  line-height:4vh;  
}

#playerscoreboard .total {
  bottom:1vh;
  background-color: black;
}

#opponentscoreboard .total {
    top:1vh;
    color: black;
    background-color:white;
}

.total {
  position:absolute;
  font-size:3.5vh;
  line-height:4vh;
  height:5vh;
  width:100%;
  margin-left:-5vh;
  display:inline-block;
  text-align:center;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 0.8vh;
  border:0.5vh solid black;
  box-sizing:border-box;
}

table.subtotals td {
  text-align:center;
}

#track {
  position:relative;
  left:0px;
  height:1px;
  z-index:-1;
  font-size:2vh;
}

.triangle {
  transition: left 1.5s ease-in-out;
  position:absolute;
  bottom:0;
  width: 0; 
  height: 0; 
  border-left: 1vh solid transparent;
  border-right: 1vh solid transparent;
  margin-left:-1vh;
}

.innertriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  left: -0.75vh;
  border-bottom: 0.75vh solid white;
  border-top: 0.25vh solid transparent;
  top: 0.5vh;
}

#playertriangle {
  position:absolute;
  border-top: 1vh solid black;
  bottom:0;
}

#opponenttriangle {
  border-bottom: 1vh solid black;
  top:0;
}


#centerline {
  position:absolute;
  width:100%;
  top:0;
  border-top:1px solid #666666;
}

.cornerline {
  position:absolute;
  border-left:1px solid #666666;
  width:1px;
  height:3vh;
  top:-1.25vh;
  color:#666666;
}

.skunkline {
  position:absolute;
  border:0px;
  top:-1.5vh;
  color:black;
  left:75%;
  text-align:center;
  margin-left:-10px;
  width:20px;
  font-size:3vh;
}

div.scorenumbers {
    margin-left:6%;
    flex-grow:1;
    flex-basis:0;
    display:none;
    align-items:center;
}

div.scorenumbers.activenumbers {
    display:flex;
}

div.scorebutton {
    flex-grow:1;
    flex-basis:0;
    display:inline;
    background-color:white;
    color:black;
    text-align:center;
    height:4vh;
    margin-top:1vh;
    margin-bottom:1vh;
    box-sizing:border-box;
    border:1px solid black;
    border-left-width:0;
    font-size:2.5vh;
    line-height:4vh;
}

div.scorebutton:hover {
    background-color:black;
    color:white;
}

div.scorebutton:first-child {
    margin-left:2%;
    border-left-width:1px;
    border-radius:0.6vh 0 0 0.6vh;
}

div.scorebutton:last-child {
    border-radius:0 0.6vh 0.6vh 0;
}

div.maxscorebutton {
    border-radius:0 0.6vh 0.6vh 0;
}

div#monsterbutton {
    display:inline-block;
    width:6%;
    padding-top:6%;
    padding-bottom:0;
    background: url('/static/images/monster.svg');
    background-size:100%;
    background-position:50%;
    background-repeat:no-repeat;
    position:absolute;
}

div#monsterbutton:hover {
    background: url('/static/images/monster_alt.svg');
    background-size:100%;
    background-position:50%;
    background-repeat:no-repeat;
}

.edithistory {
    color:black;
    text-shadow:
      -1px -1px 0 #ffffff,  
       1px -1px 0 #ffffff,
      -1px 1px 0 #ffffff,
       1px 1px 0 #ffffff;
}

table#pasttable {
    border-collapse:collapse;
    border: 1px solid black;
    margin-bottom:3vh;
}

table#pasttable tr.pastheader td {
    background-color:black;
    color:white;
}

table#pasttable td {
    padding:2px;
}

table#pasttable td.pastname {
    min-width:200px;
}

table#pasttable td.pastscore {
    min-width:80px;
    text-align:center;
}

table#pasttable td.pastformula {
    min-width:200px;
    text-align:center;
}

table#pasttable tr {
    border-bottom:1px solid black;
}

table#pasttable tr.pasttotal {
    border-top:2px solid black;
}
